[submodule "utilly"]
	path = utilly
	url = git@github.com:utillybot/utilly.git
[submodule "web"]
	path = web
	url = git@github.com:utillybot/web.git
[submodule "server"]
	path = server
	url = git@github.com:utillybot/server
